*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  background: white;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'digital-7_monomono';
  src: url('./assets/digital-7_mono-webfont.woff2') format('woff2'),
    url('./assets/digital-7_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mirageregular';
  src: url('./assets/Magenta_BBT-webfont.eot');
  src: url('./assets/Magenta_BBT-webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/Magenta_BBT-webfont.woff') format('woff'),
    url('./assets/Magenta_BBT-webfont.ttf') format('truetype'),
    url('./assets/Magenta_BBT-webfont.svg#mirageregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
